.bg-col {
	background-color: #fc829a;
} 

#carou-center {
	 align-content: center;
}

#carousel-news {

	height: auto;
}


.card a img {

	height: 200px;

}

a i {

	color: black;

}

.link-about {
	color: #f11b56;
}